<div flex layout="row" layout-align="start center" class="question">
    <div flex="none" ng-if="$ctrl.isNegatable">
        <md-checkbox ng-model="$ctrl.negate" aria-label="Negate" ng-change="$ctrl.onModelChange()">
            Negate
        </md-checkbox>
    </div>
    <div ng-if="$ctrl.isObject"  class="functions">
        <md-select placeholder="Properties" ng-model="$ctrl.selectedProperty"  class="md-no-underline" aria-label="Property"
                   ng-change="$ctrl.onPropertyChange()">
            <md-option ng-repeat="property in $ctrl.properties" ng-value="property">{{$ctrl.getPropertyNameText(property)}}</md-option>
        </md-select>
    </div>
    <div ng-if="$ctrl.isPrimitive" flex layout="row" layout-align="start center" >
        <div class="operators" ng-if="$ctrl.hasOperators">
            <md-select placeholder="Operator" ng-model="$ctrl.operator" ng-model-options="{trackBy: '$value.operator'}" class="md-no-underline" aria-label="Operator"
                       ng-change="$ctrl.onModelChange()">
                <md-option ng-repeat="operator in $ctrl.operators" ng-value="operator">{{operator.name}}</md-option>
            </md-select>
        </div>
        <md-input-container ng-if="!$ctrl.isShowOptions()" flex md-no-float class="md-block conditionValue">
            <input type="text" ng-model="$ctrl.value" ng-change="$ctrl.onModelChange()" aria-label="Value"/>
        </md-input-container>
        <md-select ng-if="$ctrl.isShowOptions()" placeholder="Select an option" ng-model="$ctrl.selectedOption" ng-model-options="{trackBy: '$value.value'}" class="md-no-underline" aria-label="Select an option"
                   ng-change="$ctrl.onOptionChange()">
            <md-option ng-repeat="option in $ctrl.options" ng-value="option">{{option.label}}</md-option>
        </md-select>
    </div>
</div>