<dnd-nodrag>
    <div class="condition {{$ctrl.groupParentClass}}" ng-if="$ctrl.showCondition">
        <div layout="row" layout-align="center center">
            <md-button ng-click="$ctrl.toggleCondition()" aria-label="Toggle condition">{{$ctrl.parent.condition}}</md-button>
        </div>
    </div>
    <div class="expression {{$ctrl.groupParentClass}} md-whiteframe-2dp">
        <div layout="row">
            <div flex class="dragHandle">
                <div ng-if="$ctrl.expression.type !== 'root'" dnd-handle layout="row" layout-align="center center">
                    <md-icon md-svg-src="{{$ctrl.img.dragHandle}}" class="dragHandleIcon" aria-label="Drag handle"/>
                </div>
            </div>
            <div flex layout="row" layout-align="start center">
                <properties flex property="$ctrl.properties" expression="$ctrl.expression"></properties>
                <div class="actionButtons">
                    <md-button ng-if="$ctrl.expression.type !=='root'" class="md-icon-button md-warn" ng-click="$ctrl.removeExpression()" aria-label="Remove expression">
                        <md-tooltip md-direction="left" md-delay="1000">Remove this condition</md-tooltip>
                        <md-icon md-svg-icon="{{$ctrl.img.remove}}"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</dnd-nodrag>
